@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 210 10% 23%;
    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 193 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 186 100% 50%;
    --secondary-foreground: 0 0% 0%;
    --muted: 210 10% 90%;
    --muted-foreground: 210 10% 45%;
    --accent: 180 100% 33%;
    --accent-foreground: 0 0% 100%;
    --destructive: 354 75% 53%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 10% 90%;
    --input: 210 10% 90%;
    --ring: 193 100% 50%;
    --radius: 1rem;
  }

  .dark {
    --background: 210 20% 4%;
    --foreground: 210 10% 98%;
    --card: 210 20% 8%;
    --card-foreground: 210 10% 98%;
    --popover: 210 20% 8%;
    --popover-foreground: 210 10% 98%;
    --primary: 193 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 186 100% 50%;
    --secondary-foreground: 0 0% 0%;
    --muted: 210 10% 15%;
    --muted-foreground: 210 10% 65%;
    --accent: 180 100% 33%;
    --accent-foreground: 0 0% 100%;
    --destructive: 354 75% 45%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 10% 20%;
    --input: 210 10% 20%;
    --ring: 193 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
